<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aveuglesourd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".Main2Activity"/>
        <activity android:name=".ViewImageActivity" />


        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="chat" />
        <activity
            android:name=".communication"
            android:label="@string/title_activity_communication" />

        <activity android:name=".Aveugle.DashboardAveugle"></activity>
        <activity android:name=".Aveugle.GalleryActivity" />
        <activity android:name=".Aveugle.LabelActivity" />
        <activity android:name=".Aveugle.RappelActivity" />
        <activity android:name=".Aveugle.DocumentActivity" />


        <activity android:name=".creercompte" />
        <activity android:name=".SpeechtoText" />
        <activity android:name=".gerer_compte" />
        <activity android:name=".authentification_sourd" />
        <activity android:name=".Aveugle.splashaveugle" />
        <activity android:name=".splashsourd" />
        <activity android:name=".MainActivity" />


        <activity
            android:name=".splashapplication"
            android:label="splashapp" />
        <activity android:name=".ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".communication" />
        </activity>
        <!-- FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>



        <receiver android:name=".Aveugle.AlarmReceiver" />

        <service
            android:name=".Aveugle.RingtoneService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr, label" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>